<p-blockUI [blocked]='isLoading'></p-blockUI>
<div *ngIf='isLoading' class='centered with-top-50'>
  <p-progressSpinner></p-progressSpinner>
</div>

<div class='centered with-top-10'>
  <button *ngIf='frontPage'
          pButton
          type='button'
          label='Show tabs'
          class='ui-button-success'
          [routerLink]="['/tabs/0']">
  </button>
  <button *ngIf='!frontPage'
          pButton
          type='button'
          label='Go back to the front page'
          class='ui-button-info'
          [routerLink]="['/']">
  </button>
</div>

<div class='flex center middle default-height'>
  <router-outlet></router-outlet>
</div>
